@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zigzag-section:nth-child(even) {
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .zigzag-section {
    flex-direction: column !important;
  }
}